
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* BODY */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #F5EBE0;
  color: #333;
}

/* HEADER */
.header {
  position: relative;
}

.header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


/* MAIN BUTTON */
.main-btn {
  padding: 15px 40px;
  border: none;
  background-color: #55493A;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

/* SERVICES GRID */
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px;
  align-items: stretch;
}

/* CARD */
.massage-card {
  background-color: #F5EBE0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  height: 100%;
  display: flex;             
  flex-direction: column;     

}

.massage-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.massage-card h2 {
  color: #55493A;
  font-size: 28px;
  margin-bottom: 10px;
}

.massage-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #444;
}

/* BUTTON INSIDE CARD */
.btn {
  margin-top: 15px;
  padding: 12px 20px;
  background-color: #55493A;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #55493A;
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 60px 50px;
  background-color: #55493A;
  color: white;
  margin-top: 60px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-section p {
  margin: 6px 0;
}

/* MAP */
.map {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .btn {
  margin-top: auto; /* притискає вниз */
}
}